.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3.5rem;
    gap: 1rem;

    width: 100%;
}

.container .link {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 1.4rem;

    color: var(--font-dark);
    cursor: pointer;
}

.device {
    display: none;
}

@media (min-width: 1024px) {
    .device {
        display: block;
    }

    .container {
        padding: 2rem 10rem;
    }
}