.container {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);

    z-index: 10;
}

.content {
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 90%;
    height: 80%;

    background-color: var(--background-01);

    overflow: hidden;
}

@media (min-width: 1024px) {
    .content {
        max-width: 50%;
        min-height: 90%;
    }
}