.flex {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;

    position: relative;

    width: 100%;
    min-height: fit-content;
}

.input {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 4rem;

    border-radius: 1rem;
    padding: 1.25rem 1rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;

    text-align: left;
    vertical-align: top;

    color: var(--primary-03);

    background-color: var(--light);
    border: 1px solid var(--primary-03);
}

.input::placeholder {
    vertical-align: top;
}

.fixedUnitFrame {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    position: relative;
}

.fixedUnit {
    position: absolute;
    right: 0;

    height: 100%;

    border-radius: 0 1rem 1rem 0;
    width: fit-content;
}

.increaseControl {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* height: 100%; */

    position: absolute;
    left: 1rem;

    color: var(--primary-04);
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* height: 100%; */

    position: absolute;
    left: 1rem;
    top: 50%;

    transform: translateY(-50%);

    color: var(--primary-04);
}

.increaseArrow {
    transform: translateY(0) scale(1);

    cursor: pointer;
    transition: 0.5s;
    user-select: none;

    font-size: 2.6rem;
}

.increaseArrow.clicked {
    transform: translateY(-55%) scale(1.1);
}

.decreaseArrow {
    transform: translateY(0) scale(1);

    cursor: pointer;
    transition: 0.5s;
    user-select: none;

    font-size: 2.6rem;

    margin-top: -1rem;
}

.decreaseArrow.clicked {
    transform: translateY(55%) scale(1.1);
}

.input::placeholder {
    color: var(--primary-04);
}

.input:focus {
    outline: 0.2rem solid var(--primary-03);
}

.label {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;

    display: flex;
    align-items: center;
    width: 100%;

    color: var(--primary-03);
}