.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.image {
	display: flex;
	/* width: 2.2rem;
    height: 2.2rem; */

	margin-right: -0.25rem;

	border-radius: 50%;
}

.image:last-child {
	margin-right: 0;
}

.additionalUsers {
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--primary-03);
	border-radius: 50%;

	height: 2.2rem;
	width: 2.2rem;

	color: var(--neutral);
	font-family: "Karla";
	font-style: normal;
	font-weight: 700;
	font-size: 1rem;
}

@media (min-width: 1024px) {
	.container:not(.card) {
		justify-content: flex-end;
	}
}
