.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2.5rem;

    width: 100%;
    min-width: 47%;
    /* mobile */

    height: 100%;
}

.input {
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    resize: none;

    width: 100%;
    max-width: 100%;

    min-height: 15rem;

    overflow-y: scroll;
    overflow-x: hidden;

    line-break: normal;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.input:focus {
    outline: none;
    border: none;
}

.input::-webkit-scrollbar {
    display: none;
}

@media (min-width: 1024px) {
    .input {
        min-height: initial;
    }
}