.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    gap: 1rem;

    position: relative;

    background: var(--primary-03);

    border: 1px solid var(--primary-04);
    border-radius: 0.5rem;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;

    cursor: pointer;
    user-select: none;

    color: var(--light);
    transition: 0.45s;
}

.button.loading {
    cursor: not-allowed;
}

.button:not(.sendForm):not(.fillHover):not(.loading):hover {
    outline: 2px solid var(--primary-04);
}

.button:not(.sendForm):not(.fillHover):not(.loading):active {
    outline: 2px solid var(--light);
    transition: 0.1s;
}

.sendForm {
    padding: 1rem 2rem;
    gap: 1.5rem;

    background: linear-gradient(90deg, var(--primary-01) 0%, var(--primary-02) 100%);
    box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;

    /* width: 100%; */
    /* remover caso não queira que preencha o view inteiro */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;

    transform: translateY(0%);

    color: var(--light);
    text-transform: uppercase;

    transition: 0.25s;
}

.sendForm:not(.loading):hover {
    box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.35);
    transform: translateY(-2.5%);
}


.fillHover {
    outline: 1px solid var(--light);
    text-transform: uppercase;
    background-color: transparent;
    padding: 0.5rem 1rem;
    gap: 1.5rem;
    border-radius: 0.5rem;
}

.fillHover:not(.loading):hover {
    outline: 0px;
    background-color: var(--primary-02);
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

    position: relative;

    width: 3rem;
    height: 3rem;
}

.loader div {
    position: absolute;

    width: 2.5rem;
    height: 2.5rem;

    border: 0.25rem solid var(--primary-02);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.loader div:nth-child(1) {
    animation-delay: 0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}