.holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100vw;

    overflow: hidden;
    transform: translateY(100%);

    z-index: 5;

    background: var(--background-01);
    border-top: 1px solid var(--light-gray);

    transition: 1s;
}

.holder.open {
    transform: translateY(0%);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 3.5rem;
    padding: 3.5rem;
    /* padding: 2.5rem 3.5rem; */

    overflow: auto;

    width: 100%;
    /*     min-height: 100%;
    max-height: 100%; */
    max-width: 42.5rem;
}

.holder h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;

    display: flex;
    align-items: center;

    color: var(--font-dark-02);
}

@media (min-width: 1024px) {
    .holder {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        width: var(--menu-width);

        z-index: 5;

        transform: translateY(0%);

        position: absolute;
        top: 0;
        left: initial;
        right: 0;

        background: var(--background-01);
        border-top: 0px;
        border-left: 1px solid var(--light-gray);
    }

    .content {
        gap: 0;
        min-height: 100%;
        max-height: 100%;

        overflow: hidden;
    }
}