.background {
    width: 100vw;
    height: 100vh;

    display: flex;
    position: fixed;
    top: 0;
    left: 0;

    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.75);

    transition: 0.5s;
    z-index: 100;
}

.iconHolder {
    display: flex;
    padding: 1.5rem;

    align-items: center;
    justify-content: center;

    border-radius: 0.5rem;
    color: var(--neutral);
}

.container h2 {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;

    text-align: center;
    letter-spacing: 0.16rem;
    line-height: normal;

    letter-spacing: 0.05rm;
    color: var(--primary-02);
}

.container p {
    font-family: var(--font-inter);
    color: var(--primary-03);
    text-align: left;
    white-space: pre-line;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.08rem;
}

.dangerZone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 1.5rem;

    width: 100%;
}

@media (min-width: 1024px) {
    .headerContainer {
        justify-content: flex-start;
    }

    .headerContainer h2 {
        text-align: left;
    }
}
