.background {
    width: 100vw;
    height: 100vh;

    display: flex;
    position: fixed;
    top: 0;
    left: 0;

    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.75);

    transition: 0.5s;
    z-index: 15;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.5rem;
    gap: 2.5rem;

    width: 50rem;

    text-align: center;

    background: linear-gradient(180deg, #E1D0FD 0%, #FFFFFF 100%);
    border-radius: 2rem;
}

.imageHolder {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: visible;

    width: 40rem;
    height: 18rem;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.headerContainer h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 2.2rem;

    color: var(--font-dark);
}

.headerContainer p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;

    white-space: pre-line;

    color: var(--font-light);
}

.buttonsHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    gap: 1rem;
}

.circlesHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 1.5rem;
}

.circlesHolder div {
    width: 1rem;
    height: 1rem;

    cursor: pointer;
    background-color: var(--light-gray);
    border-radius: 50%;
}