.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--font-dark);
    padding: 1.55rem;
    border-radius: 2.5rem;

    z-index: 5;
}

.container .imageHolder {
    overflow: hidden;
    border-radius: 1.5rem;
}

.container .landscape {
    display: none;
}

.container .portrait {
    display: flex;
}

@media (min-width: 1024px) {
    .container {
        max-width: 85%;
    }

    .container .landscape {
        display: flex;
    }

    .container .portrait {
        display: none;
    }
}