.focus {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.intervalCount {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: var(--primary-04);
    min-width: fit-content;

    text-align: center;
}

.intervalCount span {
    font-size: 1.4rem;
    color: var(--primary-03);
}