.holder {
	display: flex;
	flex-direction: column;
	align-items: center;

	height: 100vh;
	width: 100%;

	overflow: hidden;
	position: relative;

	background-color: var(--neutral);
	/*  background: linear-gradient(180deg, var(--neutral) 0%, var(--neutral) 56.25%, var(--background-02) 100%); */
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 8.5rem 3.5rem;
	gap: 3.5rem;
	min-height: fit-content;

	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	width: 100%;

	max-width: 50rem;
	background-color: var(--neutral);
}

.container::-webkit-scrollbar {
	display: none;
}

.container {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

.container header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;

	width: 100%;
	gap: 2.5rem;
}

.container header h1 {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 3.2rem;

	color: var(--font-dark);
}

.container header p {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 1.6rem;

	color: var(--font-light);
}

.section {
	display: flex;
	flex-direction: column;
	gap: 5rem;

	align-items: center;
	justify-content: center;
}

.outro {
	font-family: var(--font-inter);
	font-style: normal;
	font-weight: 500;
	font-size: 1.2rem;

	text-align: center;
	cursor: pointer;

	color: var(--primary-02);
	transition: 0.35s;
}

.outro:not(.static):hover {
	font-weight: 800;
}

#device {
	display: none;
}

@media (min-width: 1024px) {
	.holder {
		align-items: flex-start;
		background-color: var(--background-02);
	}

	#device {
		display: flex;

		position: absolute;
		bottom: -10%;
		right: -30rem;

		max-width: 70%;
	}

	.container {
		padding: 3.5rem 6.5rem;
		width: 45%;
		max-width: 75%;
		height: 100%;

		z-index: 6;

		transition: 1s;
	}

	.container.fullscreen {
		width: 100%;
		max-width: 100%;
	}

	.section {
		max-width: 45vw;
	}
}
