.holder {
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: initial;

    width: 100%;

    padding: 3.5rem;
    gap: 2.5rem;

    /* transition: 1s; */
}

.basicInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.5rem;

    width: 100%;
    /* mobile */
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2.5rem;

    width: 100%;
    min-width: 47%;
    /* mobile */

    height: 100%;
}

.selectHolder {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;
    /* mobile */
}

.section {
    display: flex;
    flex-direction: column;

    gap: 1.5rem;
    width: 100%;
}

.group p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;

    color: var(--light);
}

.group {
    display: flex;
    flex-direction: row;
    width: 100%;

    overflow-x: scroll;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.7rem;
    gap: 1rem;

    width: 100%;
    height: fit-content;

    background: var(--primary-04);

    border: 1px solid var(--primary-03);
    border-radius: 1rem;

    transition: 0.5s;
}

.group::-webkit-scrollbar {
    display: none;
}

.group {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.groupsIndicator {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--primary-03);
}

.groupsIndicator span,
.groupsIndicator div {
    cursor: pointer;
    user-select: none;
}

.groupsIndicator .dots {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.groupsIndicator .dots div {
    background-color: var(--primary-04);
    width: 0.8rem;
    height: 0.8rem;

    border-radius: 50%;
}

.descriptionHeader {
    display: none;
}

.inputHolder {
    height: 100%;
    min-height: 15rem;
    padding: 1.2rem;
}

.column .input {
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    resize: none;

    width: 100%;
    max-width: 100%;

    min-height: 15rem;

    overflow-y: scroll;
    overflow-x: hidden;

    line-break: normal;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.input:focus {
    outline: none;
    border: none;
}

.input::-webkit-scrollbar {
    display: none;
}

@media (min-width: 1385px) {
    .descriptionHeader {
        display: flex;
    }
}

@media (min-height: 576px) {
    .container {
        height: 100%;
    }
}

@media (min-width: 1024px) {
    .holder {
        flex-direction: row;
    }

    .container {
        position: absolute;
        top: 0;
        left: var(--sidebar-width);
        flex: 1;
        width: calc(100vw - var(--sidebar-width) - var(--menu-width));
        margin-left: auto;

        transition: 0s;
    }

    .column .input {
        min-height: initial;
    }

    .inputHolder {
        min-height: initial;
    }

    .basicInfo {
        flex: 1;
        flex-direction: row;
    }
}