.holder {
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: initial;

    width: 100%;
    height: 100%;

    padding: 3.5rem;
    gap: 2.5rem;

    transition: 1s;
}

.basicInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.5rem;

    width: 100%;
    /* mobile */
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2.5rem;

    width: 100%;
    /* mobile */

    height: 100%;
}

.selectHolder {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;
    /* mobile */
}

.section {
    display: flex;
    flex-direction: column;

    gap: 1.5rem;
    width: 100%;
}

.group p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;

    color: var(--light);
}

.attachment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    gap: 1rem;

    width: 100%;
    height: 100%;

    background: #FFFFFF;

    border: 1px solid var(--background-02);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}


.attachment .guide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    gap: 0.5rem;

    background: var(--background-02);

    border: 1px dashed var(--primary-04);
    border-radius: 1rem;
}

.attachment .guide h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;

    color: var(--primary-02);
}

.attachment .guide p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 50;
    font-size: 0.8rem;
    text-align: center;

    color: var(--primary-03);
}

.group {
    display: flex;
    flex-direction: row;
    width: 100%;

    overflow-x: scroll;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.7rem;
    gap: 1rem;

    width: 100%;
    height: fit-content;

    background: var(--primary-04);

    border: 1px solid var(--primary-03);
    border-radius: 1rem;
}

.group::-webkit-scrollbar {
    display: none;
}

.group {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.groupsIndicator {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--primary-03);
}

.groupsIndicator span,
.groupsIndicator div {
    cursor: pointer;
    user-select: none;
}

.groupsIndicator .dots {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.groupsIndicator .dots div {
    background-color: var(--primary-04);
    width: 0.8rem;
    height: 0.8rem;

    border-radius: 50%;
}

@media (min-width: 1024px) {
    .holder {
        flex-direction: row;
    }

    .container {
        position: absolute;
        top: 0;
        left: var(--sidebar-width);
        flex: 1;
        width: calc(100vw - var(--sidebar-width) - var(--menu-width));
        margin-left: auto;

        transition: 0s;
    }

    .basicInfo {
        flex-direction: row;
    }
}