:root {
    font-size: 62.5%;
    /* 
    100% ----- 16px
    x  ------- 10px
    
    1rem = 10px
    */

    /* font-family: Inter, Raleway, Trirong, Karla, sans-serif; */
    /* font-family: var(--inter-font), var(--karla-font), var(--raleway-font), var(--trirong-700-font), var(--trirong-900-font), sans-serif; */

    color-scheme: light dark;

    --menu-width: 40rem;

    --sidebar-width: 10rem;
    --sidebar-height: 7.5rem;

    --primary-01: #6628ca;
    --primary-02: #7642CB;
    --primary-03: #905AE7;
    --primary-04: #A57CE8;

    --background-01: #F1ECF4;
    --background-02: #E1D0FD;
    --background-03: #E9DCFF;
    --light: #FFFFFF;

    --font-dark: #141414;
    --font-dark-02: #29252C;
    --font-light: #797979;
    --light-gray: #D9D9D9;

    --red-01: #FF0331;
    --red-02: #FE2950;

    --yellow-01: #FFC803;

    --green-01: #6FCE5F;

    background-color: var(--background-01);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/* @font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    src: url(/fonts/material-symbols.ttf) format('ttf');
} */

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* As caixas agora passam a ser contadas a partir da borda, e não do conteúdo, evitando problemas com o "padding" */
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

html,
body {
    width: 100%;
    height: 100%;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
    color: inherit;
    /* text-decoration: inherit;
    color: inherit;
    cursor: auto; */
}

body {
    font-family: 'Inter';
    font-size: 1.6rem;

    overflow: overlay;
    background-color: var(--background-01);
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: textfield;
}

textarea {
    resize: none;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.click {
    cursor: pointer;
}

.static {
    user-select: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    gap: 1.5rem;

    flex-wrap: wrap;
}

.bold {
    font-weight: 700;
}

.title {
    color: var(--primary-02);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;

    width: 100%;
}

.ProseMirror {
    width: 100%;
    height: 100%;

    font-family: 'Karla';
    font-size: 1.6rem;
}

.ProseMirror ul {
    list-style-type: circle;
    margin-left: 2.5rem;
}

.ProseMirror ol {
    margin-left: 2.5rem;
}

.ProseMirror strong {
    font-weight: 900;
}

.ProseMirror:focus {
    outline: none;
    border: none;
}

.underline {
    text-decoration: underline;
}

input[type='file'],
input[type='submit'] {
    display: none
}

@media (min-width: 1024px) {
    .title {
        width: fit-content;
    }
}

.instantFilled {
    animation: fill 0s ease-in-out forwards;
}

.instantOutlined {
    animation: outline 0s ease-in-out forwards;
}

.filled {
    /* font-variation-settings: 'FILL' 1;
    transition: 3s; */
    animation: fill 0.5s ease-in-out forwards;
}

.outlined {
    animation: outline 0.5s ease-in-out forwards;
}

/* .pulse {
    animation: pulse 3s infinite;
} */

@keyframes fill {
    0% {
        font-variation-settings: 'FILL' 0;
    }

    100% {
        font-variation-settings: 'FILL' 1;
    }
}

@keyframes outline {
    0% {
        font-variation-settings: 'FILL' 1;
    }

    100% {
        font-variation-settings: 'FILL' 0;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.hoverLink {
    cursor: pointer;
}

.hoverLink:hover p {
    text-decoration: underline;
}

.hoverLink:hover span {
    transform: scale(1.05);
}

.hoverLink span {
    transform: scale(1);
    font-size: 1.8rem;

    transition: 0.3s;
}

.iconHolder {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
}

/* Modal */
.dangerZone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 1.5rem;

    width: 100%;
}

.dangerZone p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    width: fit-content;

    color: var(--red-01);
}

/* Scrollbar */
textarea::-webkit-scrollbar,
.customScroll::-webkit-scrollbar {
    width: 1rem;
}

textarea::-webkit-scrollbar-track,
.customScroll::-webkit-scrollbar-track {
    background: var(--background-02);
    opacity: 0.85;
}

/* Handle */
textarea::-webkit-scrollbar-thumb,
.customScroll::-webkit-slider-thumb {
    background: var(--primary-04);
    border-radius: 1rem;
    opacity: 0.5;
}

/* @media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: black;
    }
} */