.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: initial;

    width: 100%;
    height: 100%;

    overflow-y: scroll;

    padding: 3.5rem 3.5rem calc(3.5rem + var(--sidebar-height)) 3.5rem;
    gap: 2.5rem;

    transition: 1s;
}

.content {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    gap: 2.5rem;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(75%, 1fr));
}

.container .title {
    color: var(--primary-02);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;

    width: 100%;
}

.addButton {
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    gap: 1.5rem;

    flex-wrap: wrap;
}

.container::-webkit-scrollbar {
    display: none;
}

.container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.toggleContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.emptyGroups {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100%;
    gap: 1.5rem;

    color: var(--primary-02);
}

.emptyGroups h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
}

.emptyGroups .icon {
    filter: url(#blur);
}

.emptyGroups p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--primary-03);
    width: 50%;
    text-align: center;
}

.groupCard {
    display: flex;
    flex-direction: column;
    padding: 2rem 2.5rem;
    gap: 2rem;
    width: 100%;

    align-items: flex-start;
    justify-content: space-between;

    background: linear-gradient(var(--primary-02), var(--primary-01));

    border: 1px solid var(--primary-03);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;

    transition: 0.35s;

    cursor: pointer;
}

.groupCard h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 2.8rem;

    color: var(--light);
}

.groupCard p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5rem;
    display: flex;
    align-items: center;

    /* background-01 */

    color: var(--background-01);
}

.groupCard .iconContainer {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    align-items: center;
    justify-content: flex-start;

    font-size: 1rem;
    font-weight: 800;
    color: var(--background-02);
}

.groupCard header,
.groupCard .usersInfoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    flex-wrap: wrap;

    gap: 1.5rem;

    color: var(--light);
}

.groupCard:hover {
    box-shadow: 0px 4px 2.5rem rgba(99, 55, 171, 0.65);
}

.groupCard header p {
    font-weight: 700;
}

.groupCard .usersInfoContainer p {
    font-weight: 300;
    gap: 0.5rem;
}

@media (min-width: 1024px) {
    .container {
        position: absolute;
        top: 0;
        left: var(--sidebar-width);
        flex: 1;
        width: calc(100vw - var(--sidebar-width));
        margin-left: auto;

        padding: 3.5rem;

        transition: 0s;
    }

    .addButton {
        width: initial;
    }

    .content {
        display: flex;
        /* flex-wrap: wrap; */
    }

    .groupCard {
        width: initial;
        min-width: 35rem;
        min-height: 15rem;
    }

    .groupCard header,
    .groupCard .usersInfoContainer {
        font-weight: 300;
        gap: 5rem;
    }
}