.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: initial;

    width: 100%;
    height: 100%;

    overflow-y: scroll;

    padding: 3.5rem 3.5rem calc(3.5rem + var(--sidebar-height)) 3.5rem;
    gap: 2.5rem;

    transition: 1s;
}

.actionButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 1.5rem;

    align-items: stretch;

    height: 100%;
}

.actionButtons .viewType {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;

    padding-inline: 2rem;
    align-items: center;

    background: var(--background-02);
    border-radius: 0.5rem;
}

.subheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    gap: 1.5rem;

    flex-wrap: wrap;
}

.menuHeader {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.eventHolder {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem;

    background: linear-gradient(90deg, var(--primary-01) 0%, var(--primary-03) 100%);
    box-shadow: 0px 0.4rem 2.5rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;

    cursor: pointer;
}

.card h5 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 2.2rem;
    display: flex;
    align-items: center;

    margin-top: 0.5rem;
    max-width: 70%;

    color: var(--light);
}

.card p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.95rem;
    color: var(--light);

    min-width: fit-content;
}

.card .cardColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
}

.closeButton {
    display: block;
}

.actionButtons .viewType {
    display: none;
}

.actionButtons,
.addButton {
    min-width: 100%;
}

.tasks {
    display: flex;
    flex-direction: column;
    overflow-y: visible;

    height: fit-content;
    width: 100%;

    gap: 1.5rem;
}

.tasks h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--primary-03);
}

.icon {
    color: var(--primary-04);
}

.icon.active {
    color: var(--primary-01);
}

.tasks.cardView {
    display: grid;
    width: 100%;

    gap: 1rem;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    row-gap: 3.5rem;
}

.container::-webkit-scrollbar {
    display: none;
}

.container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.emptyTasks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10rem;
    font-size: 1.6rem;

    width: 100%;
    user-select: none;

    color: var(--primary-02);
}

.emptyTasks p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;

    white-space: pre-line;

    width: 50%;
}

.emptyTasks p strong {
    font-family: 'Raleway';
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

@media (min-width: 768px) and (max-width: 1124px) {
    .actionButtons {
        width: 100%;
    }
}

@media (min-width: 1024px) {

    .container {
        position: absolute;
        top: 0;
        left: var(--sidebar-width);
        flex: 1;
        width: calc(100vw - var(--menu-width) - var(--sidebar-width));
        margin-left: auto;

        padding: 3.5rem;

        transition: 0s;
    }

    .menuHeader .closeButton {
        display: none;
    }

    .actionButtons,
    .addButton {
        min-width: fit-content;
        height: initial;
    }

    .actionButtons .viewType {
        display: flex;
    }
}