.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 3.5rem;
}

.buttonInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    gap: 0.5rem;
}

.buttonInfo h6 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
}

.buttonInfo p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
}

.cardsHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 2rem;
}

.cardsHolder .outro {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;

    text-align: center;

    cursor: pointer;
    color: var(--primary-02);
    transition: 0.35s;
}

.cardsHolder .outro:hover {
    font-weight: 800;
}

.icon path {
    fill: var(--primary-02);
}

.icon.selected path {
    fill: var(--light);
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 1rem;
    right: 1rem;

    padding: 0.075rem;

    /* transition: --angle 0.5s; */
    color: var(--primary-02);

    background: var(--light);
    /* background: conic-gradient(var(--light) var(--angle), var(--background-02) var(--angle)); */
    border-radius: 50%;
}

.current {
    animation: pulseAnimation 1s infinite;
}

.progressBar {
    width: 65%;
    height: 3px;
    position: relative;

    border-radius: 0.1rem;
    /* background-color: var(--light-gray); */
    background-color: transparent;
}

.progressBar::before {
    content: "";

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 3px;
    background-color: var(--primary-02);

    z-index: 2;

    border-radius: 0.1rem;
    transition: 0.25s;
}

.progressBar.animate::before {
    transition: 4s;
    width: 100%;
}

@keyframes pulseAnimation {
    0% {
        outline: 0rem solid rgba(118, 66, 203, 1);
    }

    /* 50% {
        outline: 1.5rem solid rgba(118, 66, 203, 0.5);
    } */

    100% {
        outline: 1.5rem solid rgba(118, 66, 203, 0);
    }
}

.timer span {
    z-index: 1;
}