.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: initial;

    width: 100%;
    height: 100%;

    overflow-y: scroll;

    padding: 3.5rem 3.5rem calc(3.5rem + var(--sidebar-height)) 3.5rem;
    gap: 2.5rem;

    transition: 1s;
}


.container::-webkit-scrollbar {
    display: none;
}

.container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* .usersInfo {
    width: 100%;
} */

.usersInfo p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 15px;

    display: flex;
    align-items: center;
    text-align: right;

    /* font-light */

    color: var(--font-light);
}

.usersInfo p span {
    cursor: pointer;
    text-decoration: underline;
    margin-inline: 0.5rem;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2.5rem 3.5rem;
    gap: 2.5rem;

    width: 100%;
    height: fit-content;

    background: #FFFFFF;

    border: 1px solid var(--light-gray);
    border-radius: 0.5rem;
}

.column {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    gap: 1rem;
    /* justify-content: space-between; */
    justify-content: center;
}


.info p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;

    /* font-light */

    color: var(--font-light);
}

.info .userInfo {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    user-select: none;
}

.info .userInfo img {
    width: 1.4rem;
    height: 1.4rem;

    border-radius: 50%;
}

.info .userInfo span {
    font-weight: 600;
    margin-inline: 0.35rem;
}

.taskInfo {
    display: flex;
    align-items: row;

    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 2.5rem;
}

.taskInfo.vertical {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.5rem;

    align-items: flex-end;
    justify-content: center;
}

.taskInfo p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;

    color: var(--primary-02);
}

.deadline {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 3.5rem;
    gap: 1rem;

    text-align: center;

    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;

    background: var(--primary-03);
    border: 1px solid var(--light);
    border-radius: 0.5rem;

    color: var(--light);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.deadline div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.deadline div span {
    font-size: 1.4rem;
    font-weight: 700;
}

.headerButtons {
    gap: 1.5rem;
    width: 100%;
}

.attachments {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 2.5rem;
}

.attachmentHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 1.5rem;

    width: 100%;

    background: var(--primary-04);
    border-radius: 0px 0.5rem;
}

.attachmentHeader p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
}

.horizontalInfo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;

    color: var(--primary-02);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.attachmentsSection {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    width: 100%;
}

.attachmentButtonsHolder {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.attachmentButtonsHolder .attachmentButton,
.attachmentButton.use {
    background-color: none;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    color: var(--primary-02);
    font-size: 1.2rem;
    font-family: Inter;
    font-weight: 600;
    text-transform: uppercase;
}

.contentsHolder {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;

    overflow-y: scroll;
    width: 100%;
}

.contentsHolder::-webkit-scrollbar {
    display: none;
}

.contentsHolder .content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    text-align: left;
    width: 100%;
}

.contentsHolder .content p {
    color: var(--primary-03);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    width: fit-content;
}

.contentsHolder .content .header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    color: var(--primary-02);
}

.contentsHolder .content .header p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    width: fit-content;
    color: var(--primary-02);

    user-select: none;
}

.defaultButton:has(span) {
    font-size: 1.4rem;
    width: 100%;
    padding: 0.5rem 1rem;
    gap: 1.5rem;
    color: var(--primary-02);
    background-color: transparent;
    border: 1px solid var(--primary-02);
    border-radius: 0.5rem;
}

.attachmentsContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}

.attachmentsParentHolder {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.usersContainer {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;

    width: 100%;
    color: var(--primary-04);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
}

.usersContainer p,
.usersContainer .user p {
    width: fit-content;
}

.usersContainer header {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
}

.usersContainer header p,
.usersContainer header span {
    color: var(--primary-03);
    font-weight: 700;

    font-size: 1.8rem;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
}

.usersContainer ul {
    list-style-type: none;
}

@media (min-width: 1024px) {

    .container {
        position: absolute;
        top: 0;
        left: var(--sidebar-width);
        flex: 1;
        width: calc(100vw - var(--sidebar-width));
        margin-left: auto;

        transition: 0s;
    }

    .info {
        gap: 2.5rem;
        flex-direction: row;
    }

    .info .column:nth-child(2) {
        max-width: 25%;
    }

    .headerButtons {
        gap: 1.5rem;
        width: fit-content;
    }
}