.holder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    gap: 1rem;

    width: 100%;

    background: var(--background-03);

    border: 1px solid var(--background-02);
    box-shadow: 0px 0.4rem 1.5rem rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
}

.days {
    padding-inline: 1.125rem;
    color: var(--primary-03);

}

.days p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.calendar {
    display: grid;

    width: 100%;

    justify-content: space-between;
    grid-template-columns: auto auto auto auto auto auto auto;

    /* row-gap: 1rem; */
    row-gap: 0.5rem;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* width: 2.5rem;
    height: 2.5rem; */
    width: 3rem;
    height: 3rem;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    /* border-radius: 1rem; */
    border-radius: 1.25rem;

    cursor: pointer;
    transition: 0.35s;
}

.day:hover {
    border: 1px solid var(--light);
    background-color: var(--primary-02);
}

.default {
    background-color: var(--primary-03);
    color: var(--light);
}

.unavailable {
    background-color: var(--primary-03);
    border: 1px dashed var(--primary-02);
    color: var(--primary-02);
}

.selected {
    background-color: var(--light);
    border: 1px solid var(--primary-04);

    font-weight: 700;
    color: var(--primary-03);
}

.outsideRange {
    background-color: var(--font-light);
    color: var(--light);
    font-weight: 400;
}

.add {
    background-color: var(--primary-03);
    border: 1px solid var(--light);
    border-radius: 0.6rem;
}