.tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    gap: 0.5rem;

    cursor: grab;

    background: var(--primary-02);
    border: 0.5px dashed var(--light);
    border-radius: 3rem;

    font-family: 'Inter';
}

.tag span,
.tag p {
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1rem;

    letter-spacing: 0.03em;

    color: var(--light);
}