.container {
    width: 100%;
    height: 12.5vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 0px 2.5rem;

    position: absolute;
    left: 0;
    bottom: 0;

    z-index: 8;

    background-color: var(--primary-04);
}

.container h6 {
    font-family: 'Trirong';
    font-style: normal;
    font-weight: 900;
    font-size: 2.4rem;
    text-align: left;

    display: none;

    color: var(--background-01);
}

.container p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;

    margin: 0;

    text-align: right;
    color: var(--light);
}

@media (min-width: 1024px) {
    .container {
        justify-content: space-between;
        padding: 0px 7.5rem;
    }

    .container h6 {
        display: flex;
    }
}