.attachment {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 2rem;
	gap: 1.25rem;

	width: fit-content;
	min-width: 12.5rem;
	max-width: 30rem;

	z-index: 7;

	background: var(--background-01);
	user-select: none;

	border: 1px dashed var(--primary-04);
	border-radius: 1rem;
}

.attachment .header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
}

.attachment .header .close {
	color: var(--primary-02);
	/* font-size: 1.8rem; */
	cursor: pointer;
}

.attachment svg path {
	fill: var(--primary-02);
}

.attachment .fileName {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 1.2rem;

	max-width: 100%;
	word-break: break-all;

	color: var(--primary-02);
}

.attachment.hovered {
	border: 1px solid var(--primary-02);
	animation: pulseAnimation 1s infinite;
}

.progressBar {
	position: relative;
	height: 1rem;
	width: 100%;
}

.progressBar div:nth-child(1) {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	width: 0%;
	height: 100%;

	transition: 0.35s;

	border-radius: 2.5rem;
	background-color: var(--primary-03);

	background-image: repeating-linear-gradient(
		45deg,
		transparent,
		transparent 15px,
		var(--primary-04) 15px,
		var(--primary-04) 30px
	);
	/* tem que ser sempre menor que os outros | é a distância entre as linhas */

	animation: slide 5s linear infinite;
	will-change: background-position;
}

@keyframes slide {
	from {
		background-position-x: 0;
	}

	to {
		background-position-x: 300px;
	}
}

.progressBar div:nth-child(2) {
	width: 100%;
	height: 100%;

	z-index: 0;
	border-radius: 2.5rem;
	background-color: var(--light-gray);
}

@keyframes pulseAnimation {
	0% {
		outline: 1px dashed var(--primary-04);
	}

	/* 50% {
        outline: 1.5rem solid rgba(118, 66, 203, 0.5);
    } */

	100% {
		outline: 3px dashed var(--primary-04);
	}
}
