.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    color: var(--primary-02);

    user-select: none;

    gap: 2.5rem;
}

.container h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
}

/* .container:not(.parentDirectory) h3 {
    cursor: pointer;
} */

.container h3 span {
    font-weight: 700;
    font-size: 1.8rem;
    margin-right: 0.5rem;
    color: var(--primary-04);
}

.container h3 {
    cursor: pointer;
    margin-right: 0.5rem;
}

.container h3 span:nth-child(1):hover,
.container:hover h3:not(.parentDirectory) {
    text-decoration: underline;
}

@media (min-width: 1024px) {
    .container h3 {
        font-size: 3.8rem;
    }

    .container h3 span {
        font-size: 2.8rem;
    }
}