.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.image {
    display: flex;
    width: 2.4rem;
    height: 2.4rem;

    margin-right: -0.5rem;

    border-radius: 50%;
}

@media (min-width: 1024px) {
    .container:not(.card) {
        justify-content: flex-end;
    }
}