.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 2rem var(--wrapper);
	gap: 1rem;

	width: 100%;
}

.container .links {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 3.5rem;
}

.container .links .link {
	font-family: var(--font-karla);
	font-style: normal;
	font-weight: 800;
	font-size: 1.4rem;

	color: var(--font-dark);
	cursor: pointer;
}

.container .links .register {
	display: none;
}

.device {
	display: none;
}

@media (min-width: 1024px) {
	.device {
		display: block;
	}
}
