.holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100vw;
    max-width: 42.5rem;

    overflow: hidden;
    transform: translateX(-100%);

    z-index: 10;

    background: var(--background-04);
    border-top: 1px solid var(--light-gray);

    transition: 550ms;
}

/* .holder h6 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;

    display: flex;
    align-items: center;

    color: var(--primary-04);
} */

.holder h3,
.title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;

    display: flex;
    align-items: center;

    color: var(--font-dark-02);
}

.holder.open {
    transform: translateX(0%);
}

.holder.flex {
    position: relative;
    width: 100%;
    transform: translateX(0%);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 3.5rem;
    padding: 3.5rem;

    flex: 1;
    width: 100%;
}

.holder.flex .content {
    padding: 3.5rem 3.5rem calc(3.5rem + var(--sidebar-height)) 3.5rem;
}

.content::-webkit-scrollbar {
    display: none;
}

.content {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.holder header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

@media (min-width: 1024px) {
    .holder {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        position: relative;
        width: var(--menu-width);
        min-width: fit-content;

        border-top: 0px;
        border-left: 1px solid var(--light-gray);

        transform: translateX(0%);
        transition: 0s;
    }

    .holder.flex {
        position: relative;
        width: fit-content;
        height: 100%;
    }
}
